.transaction__history {
    border: 1px solid grey;
    margin: 100px 0;

}

.transaction__head {
    background-color: rgb(100, 100, 229);
    color: white;
}

.transaction__set {
    text-align: center;
    background-color: white;
    color: rgb(96, 95, 95);
}

.transaction__set:nth-child(even) {
    background-color: lightblue;
}

.transaction__set td,
.transaction__head th {
    padding: 15px 50px;
}